body {
	font-family: Staatliches, sans-serif !important;
	background: transparent;
	/* background-image: url('./img/basegameref/stagereference.jpg');
	background-size: cover; */
}

#base {
	width: 100px;
	height: 100px;
	position: relative;
}

#nameplate {
	display: flex;
	flex-direction: column;
	position: absolute;
	margin: auto;

	top: 50vh;
	left: 50vh;
}

.text {
	background: white;
	width: fit-content;
	padding: 0 8px 0 15px;

	overflow: hidden;
	white-space: nowrap;
}

#bg {
	position: absolute;

	height: 100vh;
	width: 100vw;
	z-index: -1;

	background: rgb(255, 255, 255);
	background: linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(253, 187, 45, 1) 100%);
	opacity: 0;
}

#logo {
	position: absolute;
	z-index: 5;
	width: 23vw;

	left: 220%;
	top: 166%;

	opacity: 0;
}

#waittitle {
	font-size: 10vh;
}

#subtitle {
	font-size: 5vh;
}

#sponsor {
	position: relative;
	z-index: 4;
	margin: 0;
	left: 25%;
	top: 12%;

	max-height: 2vh;
	opacity: 0;
}
